
.ar-half {
  width: 50% !important;
}
.ar-left {
  float: right !important;
}
.ar-right {
  float: right !important;
}
#data_contents{
	overflow: hidden;
	height:60%;
	z-index: 10;
}

.textInput{
	background-color: #D8D4D5;
  font-family: "Bebas Neue";
	font-size: 20px;
	border: none;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	color: #DD3F39;
	border-radius:15px;
	height: 30px;
	width: 100%;
	margin-bottom: 5px;
	margin-right: 10px;
	padding-left: 10%;
}
.error{
  background-color: #ff3e6e !important;
  color: #00deff !important;
}

.shown{
  opacity: 1 !important;
  visibility: visible !important;
  top: 0px !important;
}

#sendBtn{
	font-size: 25px;
}

.button{
	background: transparent;
	color: #D8D4D5;
  cursor: pointer;
	border-style: solid;
	border-width: medium;
	text-align: center;
	font-size: 17px;
	border-color: #D8D4D5;
	font-family: "Bebas Neue";
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
}

#stayOnDiv{
	display: inline;
	margin: auto;
}

#seePasswordBtn{
	margin-left: 0px;
	margin-right: 0px;
}

#loginLogo{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
	width: 100%;
}

@media (max-width: 450px) {
  #signupBtn{
    margin-top: 50px;
  }
}


#error{
	visibility:hidden;
	color:#3EDDD0;
}

#connect{
	top:40%;
	left:40%;
	width:70%;
}

.checkmarkbox{
	display: inline-block;
	background-color: #D8D4D5;
	cursor: pointer;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	width: 20px;
	height: 20px;
	margin-left: 5px
}
.checked{
	background-image: url("check.png");
	background-size: contain;
  background-color: #27A9BC !important;
  border-left: 1px solid #D8D4D5 !important;
  border-right: 1px solid #D8D4D5 !important;
  width: 18px !important;
}

.checkLabel{
	position: relative;
	top: 4px;
	cursor: pointer;
	font-size:20px;
	padding:5px;
}
